::placeholder {
    color: #9999;
  }
  p {
    margin: 0;
  }
  .form_group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 19px;
    width: 100%;
    background-color: #f1f2f7;
    padding: 8px 16px 16px 16px;
    &-info {
      padding: 16px;
    }
    textarea {
      border: none;
      background-color: white;
      resize: none;
      outline: none;
      width: 522px;
      height: 150px;
      border: 1px solid #dcdcdc;
      border-radius: 4px;
    }
    .text-important {
      color: #ed5d5d;
      font-weight: 400;
      font-size: 14px;
    }
    .imagePreviewWrapper {
      background-repeat: no-repeat;
      width: 250px;
      height: 250px;
      display: block;
      cursor: pointer;
      margin: 0 auto 0px;
      background-size: contain;
      background-position: center center;
    }
    .field-name {
      font-weight: 700;
      color: #333333 !important;
      margin-bottom: 8px;
      font-size: 14px;
    }
    .title_guide {
      margin-bottom: 8px;
    }
    .main_title {
      margin-bottom: 4px;
    }
    .routes {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .flex-item {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .images_drop {
      position: relative;
      text-align: center;
      background-color: #ffffff;
      padding: 8px;
      span {
        color: #333333;
        font-weight: 700;
      }
      input {
        top: 0;
        bottom: 0;
        position: absolute;
        background-color: transparent;
        opacity: 0;
      }
    }
    .haflInput {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .upAndDown {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .extensionLink {
      text-decoration: none;
      color: #007bc3;
      margin-top: 8px;
      display: block;
    }
    .spaceBettwen {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      p {
        margin: 0;
        font-weight: 700;
      }
    }
    .text_require {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 8px;
      .help-text {
        flex: 1;
        color: #333333;
        font-size: 14px;
      }
    }
    .requireother {
      display: flex;
      .requireother_outline {
        border: 3px solid #ed5d5d;
  
        height: 17px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        width: 60px;
        position: relative;
        p {
          position: absolute;
          top: -4px;
          left: 2px;
          font-size: 12px;
          color: #ed5d5d;
        }
      }
      .require {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    .form_input {
      height: 48px;
      border-radius: 4px;
      border: 1px solid #dcdcdc;
      padding: 14px;
      width: 100%;
      margin-bottom: 5px;
      border-bottom: 5px;
    }
  
    .dateMY {
      display: flex;
      gap: 16px;
      margin-bottom: 5px;
      align-items: center;
      div {
        display: flex;
        align-items: center;
  
        input {
          padding: 8px;
          width: 116px;
          height: 48px;
          border: 1px solid #dcdcdc;
          border-radius: 4px;
        }
        .horizontal {
          border: 1px solid #999;
          width: 16px;
        }
      }
      button {
        height: 32px;
        width: 116px;
        border: 1px solid #b2b1ff;
        border-radius: 4px;
        background-color: #b2b1ff;
        color: #ffffff;
        margin-left: 34px;
      }
    }
    .display_info {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 44px;
      div {
        p:first-child {
          color: #333333;
        }
        input {
          margin-top: 8px;
          width: 100%;
          height: 48px;
          border: 1px solid #dcdcdc;
          border-radius: 4px;
          padding: 8px;
          font-weight: 400;
          font-size: 1.6rem;
        }
      }
    }
    .facultyName {
      a {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #007bc3;
        text-decoration: none;
        span {
          font-size: 25px;
        }
      }
    }
    .input-search {
      background-image: url(../assets/images/look.png);
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 8px;
      background-size: 24px;
      padding: 8px;
      padding: 0px 40px !important;
      height: 48px;
      border: 1px solid #dcdcdc;
      border-radius: 2px;
  
      padding-left: 37px;
    }
  
    .radio_button {
      margin-top: 6px;
      margin-bottom: 5px;
      display: flex;
      border-radius: 4px;
      border: 1px solid #dcdcdc;
      overflow: hidden;
      .radio_button-1 {
        display: flex;
        gap: 4px;
        justify-content: center;
        align-items: center;
        padding: 12px;
        width: 50%;
        background-color: #ffffff;
        border-right: 1px solid #dcdcdc;
      }
      .radio_button-2 {
        display: flex;
        gap: 4px;
        justify-content: center;
        align-items: center;
        padding: 12px;
        width: 50%;
        background-color: #ffffff;
      }
      input[type="radio"]:checked:after {
        width: 12px;
        height: 12px;
        border-radius: 15px;
        top: -4px;
        left: 1px;
        position: relative;
        background-color: #45d1c9;
        content: "";
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
        outline: #45d1c9 solid 1px;
      }
    }
    p {
      font-weight: 400;
      color: #666666;
    }
    .form_title {
      font-size: 1.8rem;
      p {
        color: #333333;
      }
    }
    .white_content {
      font-size: 1.4rem;
      background-color: #ffffff;
      line-height: 1.7;
      padding: 18px 8px;
      border: 1px solid #dcdcdc;
      border-radius: 4px;
      p {
        color: #333333;
      }
      .form-control {
        font-family: system-ui, sans-serif;
        font-size: 1.4rem;
        line-height: 1.1;
        display: grid;
        grid-template-columns: 1em auto;
        gap: 0.5em;
      }
      .label-checkbox {
        margin-left: -10px;
        align-items: center;
        display: flex;
        gap: 8px;
      }
      input[type="checkbox"] {
        appearance: none;
      }
      input[type="checkbox"]:checked ~ .item--checked {
        display: block;
      }
      input[type="checkbox"]:checked ~ .item--unchecked {
        display: none;
      }
      .item--checked {
        display: none;
      }
      .displayRoute {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
        &_arrow {
          display: flex;
          gap: 9px;
          p {
            font-weight: 700;
          }
        }
        &_info {
          display: flex;
          gap: 30px;
          p {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          p:last-child {
            font-weight: 700;
          }
        }
      }
      .white_content-line {
        display: flex;
        align-items: center;
        .number {
          width: 30px;
          align-self: flex-start;
        }
        .text {
          flex: 1;
        }
      }
    }
    .require {
      background-color: #ed5d5d;
      width: 45px;
      height: 17px;
      color: #fff !important;
      padding: 0px 10px;
      font-size: 1.2rem;
      border-radius: 2px;
    }
    .noActive {
      background: #999999;
    }
    .filed_noActive {
      color: #dcdcdc !important;
    }
    .info {
      display: flex;
      align-items: center;
      gap: 8px;
      .info_text {
        color: #666666;
        font-size: 18px;
      }
    }
  }
  .button-agrre {
    margin-top: 16px;
    border-radius: 3px;
    overflow: hidden;
    display: block;
    width: 100%;
    border: none;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.3;
    padding: 14px 8px;
    background: #b2b1ff;
    cursor: pointer;
  }